.align-center {
  text-align: center;
}

// for checkbox
input[type="checkbox"] {
  /* hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;

  /* set the size of the checkbox */
  width: 1.2rem;
  height: 1.2rem;

  /* add a border and background */
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;

  /* add some margin and padding */
  margin: 0;
  padding: 0;

  /* center the checkbox within the label */
  vertical-align: middle;
}

.container {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
}

.author-detail {
  padding: 1rem 0px;
}
.pl-1 {
  padding-left: 0.125rem;
}
